@import "../../../mixins.scss";

#section-atf {
  height: 90vh;
  width: 100%;
  max-width: $max-width;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
  z-index: 1000;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}


.prof-img {
  margin-left: 90px;
  width: clamp(450px, 20vw, 450px);
  height: clamp(400px, 70vh, 700px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  z-index: 1001;

  img {
    height: 113%;
    width: 120%;
    object-fit: cover;
  }
}

  .social-links {
      width: 40px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      margin-top: auto;
      margin-right: 5vw;
      margin-bottom: 5vh;
    }
    a {
      width: 40px;
      height: 40px;

      img {
        transition: transform 120ms ease-in-out;
        &:hover {
          transform: translateX(-8px);
        }
      }
    }


    .atf-scroll {
      height: 330px;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      
      
      .atf-span {
        color: $color;
        font-weight: 500;
        font-size: 23px;
        line-height: 27.6px;
        margin-bottom: 10px;
      }
    
      &::after {
        content: "";
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        width: 308px;
        height: 2px;
        background-color: $color;
      }
    }
      
.atf-headline {
  max-width: 748px;
  @include absolute-position(230px, 696px, 10);

  h1 {
    @include margin-font;
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
  }
  h2 {
    @include margin-font;
    font-family: "Baloo 2";
    font-size: 128px;
    font-weight: 600;
    line-height: 107.6px;
    letter-spacing: -0.025em;
  }
}
