<section id="section-atf" appScrollAnimate
  [@fadeIn]="sectionState">

  <img class="prof-img"
  src="../../../assets/img/prof.png"
  alt="profile-image"
  [@fadeIn]="profImgState">

  <div class="atf-headline">
    <h1 class="mar-uni">{{ 'atf.greeting' | translate }}</h1>
    <h2>{{ 'atf.role' | translate }}</h2>
  </div>

  <div class="social-links">
    <a href="https://www.linkedin.com/in/ben-kloss" target="_blank">
      <img src="../../assets/img/Linkedin button s2.png" />
    </a>
    <a href="mailto:Benjaminkloss@outlook.de">
      <img src="../../assets/img/Email button s2.png" />
    </a>
    <a href="https://github.com/BennieB12" target="_blank">
      <img src="../../assets/img/Github button s2.png" />
    </a>
  </div>

  <div class="atf-scroll">
    <span class="atf-span">{{ 'atf.scroll' | translate }}</span>
    <div class="atf-line"></div>
  </div>
</section>
