@import "../../../mixins.scss";

#section-atf {
  height: 90vh;
  width: 100%;
  background: $background;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.atf-top {
  display: flex;
  flex-direction: column;
  width: min(50%, 700px);
  margin-right: 5vh;
  padding-top: clamp(40px, 6vh, 108px);

  h1 {
    @include margin-font;
    color: $color;
    font-family: "Montserrat";
    font-size: clamp(24px, 4vw, 64px);
    line-height: clamp(28px, 5vw, 64px);
    font-weight: 400;
    line-height: 64px;
  }
  h2 {
    @include margin-font;
    color: $color;
    font-family: "Baloo 2";
    font-size: clamp(36px, 9vw, 128px);
    line-height: clamp(40px, 7vw, 90px);
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -0.025em;
  }
}

.atf-btm {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: auto;
}

#prof-img {
  width: clamp(200px, 35vw, 600px);
  height: auto;
  margin-left: clamp(20px, 10vw, 100px);
  object-fit: contain;
  z-index: 105;
  position: absolute;
  bottom: 0;
  left: 0;
}

.social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-top: auto;
  margin-right: clamp(20px, 10vw, 100px);
  margin-bottom: 50px;

  a {
    width: 40px;
    height: 40px;

    img {
      transition: transform 120ms ease-in-out;
      &:hover {
        transform: translateX(-8px);
      }
    }
  }
}

.atf-scroll-res {
  display: none;
}

.atf-scroll {
  position: absolute;
  bottom: 0;
  left: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .atf-span {
    height: 3vh;
    color: $color;
    font-weight: 500;
    font-size: 23px;
    line-height: 27.6px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 36vh;
  }

  .horizontal-line {
    width: 2px;
    height: 35vh;
    background-color: $color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// @media (max-width: 1140px) {
//   #section-atf {
//     height: 90vh;
//     display: flex;
//     flex-direction: column;
//   }

//   .atf-top {
//     display: flex;
//     flex: 1;
//     width: 630px;
//     justify-content: flex-end;
//     padding-top: 80px;
//     margin-right: 20px;
//     z-index: 1005;
//   }
// }

@media (max-width: 768px) {
  #section-atf {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .atf-top {
    flex: 1;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    width: min(60%, 720px);
    padding: 0;
    z-index: 106;
    height: 208px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 40%;
    padding-left: 20px;

    h1 {
      color: white;
      font-weight: 400;
      line-height: 64px;
      font-size: 36px;
      line-height: 100%;
    }
    h2 {
      color: white;
      font-weight: 800;
      font-size: 73px;
      line-height: 110%;
      letter-spacing: -2.5%;
    }
  }

  .atf-btm {
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
  }

  #prof-img {
    margin: 0;
    width: clamp(310px, 30vw, 560px);
    left: 20px;
  }

  .atf-scroll {
    display: none;
  }

  .atf-scroll-res {
    display: flex;
    position: absolute;

    bottom: 10%;
    left: 88%;
    transform: translate(0%, 0%);
    z-index: 106;
  }

  .atf-span-res {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 20px;
    font-weight: 600;
    color: $color;
  }

  .social-links {
    display: none;
  }
}

@media (max-width: 660px) {
  .atf-top {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .atf-top {
    width: 100%;
    margin: 0;
    padding-left: 10px;
  }
}

@media (max-width: 410px) {
  .atf-top {
    width: 100%;
    padding: 0;
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size:56px;
      line-height: 100%;
    }
  }
}


@media (max-width: 410px) {
#prof-img {
  margin: 0;
  width: clamp(290px, 30vw, 560px);
  left: 10px;
}}
