header {
  position: absolute;
  height: 117px;
  width: 1440px;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;

  img {
    width: 64px;
    height: 69px;
    position: absolute;
    top: 24px;
    left: 100px;
    z-index: 10;
    a {
      cursor: pointer;
    }
  }
}

nav {
  position: absolute;
  top: 42.5px;
  left: 996.5px;
  gap: 36px;
  display: flex;
  align-items: center;
  a {
    width: 120px;
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
    font-family: "Montserrat";
    font-size: 21px;
    line-height: 27.6px;
    font-weight: 400;
    animation: fontsizing-reverse 70ms ease-in-out forwards;

    &:hover {
      cursor: pointer;
      animation: fontsizing 70ms ease-in-out forwards;
    }
  }

  @keyframes fontsizing {
    from {
      font-weight: 400;
    }
    to {
      font-weight: 800;
    }
  }

  @keyframes fontsizing-reverse {
    from {
      font-weight: 800;
    }
    to {
      font-weight: 400;
    }
  }
}
