@import "../../../../mixins.scss";

header {
  height: 117px;
  width: 100%;
  max-width: $max-width;
  @include absolute-position(0, 0, 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  cursor: pointer;
}

nav {
  @include flex-center;
  gap: 36px;
  a,
  button {
    width: 120px;
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
    font-family: "Montserrat";
    font-size: 21px;
    line-height: 27.6px;
    font-weight: 400;
    animation: fontsizing-reverse 70ms ease-in-out forwards;
    button {
      background: none;
      border: none;
      padding: 0;
      outline: none;
    }

    &:hover {
      cursor: pointer;
      animation: fontsizing 70ms ease-in-out forwards;
    }
  }

  @keyframes fontsizing {
    from {
      font-weight: 400;
    }
    to {
      font-weight: 800;
    }
  }

  @keyframes fontsizing-reverse {
    from {
      font-weight: 800;
    }
    to {
      font-weight: 400;
    }
  }
}

nav div {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

nav div.active svg {
  border: 1px solid $color;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

nav svg {
  width: 20px;
  height: 20px;
}
