@import "../../../../mixins.scss";

header {
  height: 10vh;
  width: 100%;
  max-width: $max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  z-index: 1001;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 64px;
  img {
    filter: invert(1);
    height: 8vh;
    width: 8vw;
    object-fit:contain;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 100px;
  cursor: pointer;
  .header-lang {
    margin: 0;

  }
  a,
  button {
    width: 120px;
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
    font-family: "Montserrat";
    font-size: 21px;
    line-height: 27.6px;
    font-weight: 400;
    animation: fontsizing-reverse 70ms ease-in-out forwards;
    button {
      background: none;
      border: none;
      padding: 0;
      outline: none;
    }

    &:hover {
      cursor: pointer;
      animation: fontsizing 70ms ease-in-out forwards;
    }
  }

  @keyframes fontsizing {
    from {
      font-weight: 400;
    }
    to {
      font-weight: 800;
    }
  }

  @keyframes fontsizing-reverse {
    from {
      font-weight: 800;
    }
    to {
      font-weight: 400;
    }
  }
}


nav div.active svg {
  border: 1px solid $color;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

nav svg {
  width: 20px;
  height: 20px;
}
