<header id="header" class="container">
  <div class="img-logo no-select">
    <a [routerLink]="'/'"
    >
      <img id="logo" src="../../assets/img/logo-bk.png" />
    </a>
  </div>

  <div class="burger-menu" id="burger-menu" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="side-menu" [class.open]="menuOpen">
    <a [appScrollTo]="'intro'" [targetRoute]="'/'" [closeMenuFn]="toggleMenu.bind(this)">
      {{ "header.aboutMe" | translate }}
    </a>
    <a [appScrollTo]="'skillSet'" [targetRoute]="'/'" [closeMenuFn]="toggleMenu.bind(this)">
      {{ "header.skillSet" | translate }}
    </a>
    <a [appScrollTo]="'projects'" [targetRoute]="'/'" [closeMenuFn]="toggleMenu.bind(this)">
      {{ "header.myWork" | translate }}
    </a>
    <a [appScrollTo]="'headl-contact'" [targetRoute]="'/'" [closeMenuFn]="toggleMenu.bind(this)">
      {{ "header.contact" | translate }}
    </a>
    <div class="header-langu">
      <div
        (click)="switchLanguage('en')"
        [class.active]="currentLanguage === 'en'"
      >
        <object
          data="../../../../assets/img/english.svg"
          type="image/svg+xml"
          width="48"
          height="48"
        ></object>
      </div>

      <div
        (click)="switchLanguage('de')"
        [class.active]="currentLanguage === 'de'"
      >
        <object
          data="../../../../assets/img/german.svg"
          type="image/svg+xml"
          width="48"
          height="48"
        ></object>
      </div>
    </div>
  </div>

  <nav [class.hidden]="menuOpen">
    <a
      (mouseenter)="toggleHover(true, 0)"
      (mouseleave)="toggleHover(false, 0)"
      [@fontWeightAnimation]="hoveredIndex === 0 ? 'bold' : 'normal'"
      [appScrollTo]="'intro'"
      [targetRoute]="'/'"
    >
      {{ "header.aboutMe" | translate }}
    </a>
    <a
      (mouseenter)="toggleHover(true, 1)"
      (mouseleave)="toggleHover(false, 1)"
      [@fontWeightAnimation]="hoveredIndex === 1 ? 'bold' : 'normal'"
      [appScrollTo]="'skillSet'"
      [targetRoute]="'/'"
    >
      {{ "header.skillSet" | translate }}
    </a>
    <a
      (mouseenter)="toggleHover(true, 2)"
      (mouseleave)="toggleHover(false, 2)"
      [@fontWeightAnimation]="hoveredIndex === 2 ? 'bold' : 'normal'"
      [appScrollTo]="'projects'"
      [targetRoute]="'/'"
    >
      {{ "header.myWork" | translate }}
    </a>
    <div class="header-langu">
      <div
        (click)="switchLanguage('en')"
        [class.active]="currentLanguage === 'en'"
      >
        <object
          data="../../../../assets/img/english.svg"
          type="image/svg+xml"
          width="24"
          height="24"
        ></object>
      </div>

      <div
        (click)="switchLanguage('de')"
        [class.active]="currentLanguage === 'de'"
      >
        <object
          data="../../../../assets/img/german.svg"
          type="image/svg+xml"
          width="24"
          height="24"
        ></object>
      </div>
    </div>
  </nav>
</header>
