@import "../../../../mixins.scss";

header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  z-index: 1001;
  cursor: pointer;
  @include flex-center;
  margin-left: 64px;
  img {
    height: 69px;
    width: 64px;
    object-fit: contain;
    transition: filter 0.3s ease-in-out;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-right: clamp(20px, 10vw, 100px);
  cursor: pointer;
  .header-lang {
    margin: 0;
  }

  a {
    width: 120px;
    text-decoration: none;
    color: rgba(89, 136, 255, 1);
    font-size: 21px;
    line-height: 27.6px;
    font-weight: 400;
    &:hover {
      cursor: pointer;
    }
  }
}

.header-langu div {
  cursor: pointer;
@include flex-center;

  object {
    pointer-events: none;
  }
}

nav div.active object {
  border: 1px solid $color;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.burger-menu {
  display: none;
  flex-direction:column;
  gap: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  div {
    width: 30px;
    height: 4px;
    background-color: $color;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  &.open {
    div:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(179.99deg, rgba(255, 255, 255, 0.8) 12.89%, rgba(234, 240, 255, 0.8) 91.39%);
  transition: 0.3s ease-in-out;
@include column;
@include flex-center;
  padding: 20px;
  z-index: 1000;
}

.side-menu.open {
  right: 0;
}

.side-menu a {
  text-decoration: none;
  color: $color;
  font-size: 1.5rem;
  margin: 15px 0;
  a:active {
    font-weight: 800;
  }
}

@media (max-width: 1040px) {
nav {
  margin-right: 10px;
}}

@media (max-width: 840px) {
  nav {
    gap: 20px;
  }}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left:0;
    max-width: 100%;
    height: 10vh;
    z-index: 1500000;
  }

  .img-logo {
    z-index: 10000;
    cursor: pointer;
    @include flex-center;
    width: 20vw;
    height: auto;
    margin: 0;
    img {
      object-fit: contain;
      transition: filter 0.3s ease-in-out;
    }
  }

  .header-langu div.active object {
    border: 2px solid #007bff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }

  .header-langu {
    cursor: pointer;
    @include flex-center;
    gap: 16px;

    object {
      pointer-events: none;
    }
  }

  nav {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}
