<section id="comments" [@slideInFromBottom]="isVisible ? 'visible' : 'hidden'">
  <div class="headline-comments">
    <h6>Need a teamplayer?</h6>
    <span>Here is what my colleagues said about me</span>
  </div>

  <div class="commentarys" [class.visible]="isVisible">
    <div class="commentarys-content">
      <h5>Peter Pfautsch</h5>
      <span>Project Join</span>
      <p>
        "Benjamin, your structured approach and quick problem-solving were key
        to the project's success. Thank you for your reliable and precise work!"
      </p>
    </div>
    <div class="commentarys-content">
      <h5>Dennis Freyer</h5>
      <span>Project Join</span>
      <p>
        "He is very helpful and always has a solution ready when problems
        arise."
      </p>
    </div>
  </div>
</section>
