<h5> Contact</h5>
<section id="contact" appScrollVisibility (isVisibleChange)="onVisibilityChange($event)" [class.visible]="isVisible">
  <div id="contact-left" class="contact-left">
    <h6> Got a problem to solve?</h6>
    <span>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</span>
    <p>Need a Frontend developer? <b>Contact me!</b></p>
  </div>
  <form action="" id="contact-right" class="contact-right">
    <input type="text" name="name" id="contact-name" placeholder="Your name">
    <input type="text" name="mail" id="contact-mail" placeholder="Your email">
    <textarea placeholder="Your message" id="contact-text"></textarea>
    <div class="privacy-policy">
      <input type="checkbox" id="privacy-checkbox">
      <label for="privacy-checkbox">
        I have read the
        <a href="/privacy-policy" target="_blank">Privacy Policy</a>
        and agree to the possesing my data as outlined.
      </label>
    </div>
    <input type="submit" value="Say hello ;)" id="contact-submit">
  </form>
</section>
