@import "../../../mixins.scss";

#contact {
  width: 100%;
  max-width: $max-width;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
  display: flex;
  gap: 120px;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.headl-contact {
  margin-top: 40px;
  margin-left: 77px;

  h5 {
    font-family: "Baloo 2";
    text-align: left;
    color: $color;
    font-weight: 800;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-block-end: 0;
  }
}

#contact-left {
  width: 473px;
  margin-left: 77px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  h6 {
    color: $color;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }

  span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  p {
    color: $color;
  }
}

#contact-right {
  width: 100%;
  max-width: 617px;
  gap: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
}

.input-group {
  position: relative;
}

#contact-name,
#contact-mail {
  min-width: 617px;
  max-width: 617px;
  height: 50px;
}

#contact-text {
  min-height: 202px;
  max-height: 202px;
  min-width: 617px;
  max-width: 617px;
  border-radius: 10px;
  border-width: 1px;
  padding: 15px 25px;
}

#contact-name,
#contact-mail,
#contact-text {
  border-radius: 10px;
  border-width: 1px;
  padding: 15px 25px;
  cursor: pointer;
  border-color: $color;
  &:focus {
    outline: $color;
  }
  &::placeholder {
    font-family: Montserrat !important;
  }
  &.valid {
    border: 2px solid green !important;
    background: url("../../../assets/img/check.png") no-repeat right 10px center;
    background-size: 20px;
  }

  &.invalid {
    border: 2px solid red !important;
    background: url("../../../assets/img/error.png") no-repeat right 10px center;
    background-size: 20px;
  }
  &:hover {
    border-width: 3px;
    border-color: darken($color, 10%);
  }
}

.error-message {
  position: absolute;
  top: 101%;
  left: 0;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 15px;
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

input.invalid + .error-message,
textarea.invalid + .error-message {
  opacity: 1;
}

.privacy-policy {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  #privacy-checkbox {
    width: 24px;
    height: 24px;
  }

  label {
    font-size: 14px;
  }
}

.highlight-blue {
  box-shadow: 0 0 8px rgba(89, 136, 255, 1);
  border: 2px solid rgba(89, 136, 255, 1);
}

.privacy-policy-link {
  color: $color;
  text-decoration: none;
  &:hover {
    font-size: bold;
    text-decoration: underline;
  }
}

#contact-submit {
  width: 181px !important;
  height: 58px;
  border-radius: 10px;
  border: 2px solid $color;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: $color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba($color, 0.5);
  }

  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.success-message {
  background-color: rgba(0, 200, 0, 0.9);
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &.show {
    animation: fadeInSlide 0.5s ease-out forwards;
  }

  &.hide {
    animation: fadeOut 0.5s ease-out forwards;
  }
}

#privacy-checkbox.highlight-error {
  box-shadow: 0 0 10px red;
}

.highlight-error {
  border: 2px solid red !important;
  box-shadow: 0 0 10px red;
}


.contact-arrow {
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 8%;
  left: 8%;
  border-radius: 50%;
  background-color: $color;
  color: rgba(89, 136, 255, 1);
  transition: transform 120ms ease-out;
  &:hover {
    cursor: pointer;
    border: unset;
    scale: 1.2;
}}

@media (max-width: 1280px) {

#contact {
  gap: 60px;

}
}

@media (max-width:1040px) {
  #contact {
    flex-direction: column;
    align-items: center   ;
    justify-content: center;
  }
  .headl-contact {
    margin-left: 0;
    h5 {
      text-align: center;
    }
  }
  #contact-left {
    margin-left: 0;
  }

  .contact-arrow {
    left: 4%;
    bottom: 4%;
  }
}

@media (max-width: 768px) {
  .headl-contact {
    margin-left: 0px;
    h5 {
      text-align: center;
      line-height: 120%;
    }
  }
  #contact-left {
    width: auto;
    min-width: auto;
    max-width: 500px;
    margin-left: 0px;
  }

  #contact-right {
    width: 100%;
    max-width: 500px;
    margin-left: 0px;
  }

  .contact-arrow {
    bottom: 1%;
  }

  #contact-name,
  #contact-mail {
    min-width: 500px;
    max-width: 500px;
    padding: 15px 20px;
  }

  #contact-text {
    min-width: 500px;
    max-width: 500px;
    min-height: 160px;
    max-height: 160px;
    border-radius: 10px;
    padding: 15px 25px;
  }

  #contact-submit {
    width: 100%;
    max-width: 300px;
    padding: 15px 30px;
    font-size: 16px;
    align-self: center;
  }
}

@media (max-width: 640px) {
  .headl-contact {
    margin-left: 0px;
    h5 {
      text-align: center;
      font-size: 45px;
      line-height: 120%;
    }
  }
  #contact {
    gap: 60px;
  }

  #contact-left {
    width: auto;
    min-width: auto;
    max-width: 400px;
    margin-left: 0px;
  }

  #contact-right {
    width: 100%;
    max-width: 400px;
    margin-left: 0px;
  }

  #contact-name,
  #contact-mail {
    min-width: 400px;
    max-width: 400px;
    padding: 15px 20px;
  }

  #contact-text {
    min-width: 400px;
    max-width: 400px;
    min-height: 160px;
    max-height: 160px;
    border-radius: 10px;
    padding: 15px 25px;
  }



  #contact-submit {
    width: 100%;
    max-width: 200px;
    padding: 15px 30px;
    font-size: 16px;
    align-self: center;
  }
}
@media (max-width: 480px) {

  #contact-left {
    max-width: 300px;
  }

  #contact-right {
    max-width: 300px;
  }

  #contact-name,
  #contact-mail {
    min-width: 300px;
    max-width: 300px;
    padding: 10px 15px;
  }

  #contact-text {
    min-width: 300px;
    max-width: 300px;
    padding: 10px 15px;
  }

  #contact-submit {
    max-width: 150px;
  }
}
