@import "../../../mixins.scss";
@import '../../../animations.scss'; 

#contact {
  width: 100%;
  max-width: $max-width;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
  display: flex;
  gap: 120px;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  &.visible {
    .contact-left {
      animation: slideInLeft 0.4s ease-out forwards, fadeIn 0.4s ease-out forwards;
    }
  
    .contact-right {
      animation: slideInRight 0.4s ease-out forwards, fadeIn 0.4s ease-out forwards;
    }
  }
}

h5 {
  font-family: "Baloo 2";
  color: $color;
  font-weight: 800;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 77px;
  margin-top: 40px;
}

#contact-left {
  width: 473px;
  margin-left: 77px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  h6 {
    color: $color;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }

  span {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
  }

  p {
    color: $color;
  }
}

#contact-right {
  width: 50%;
  gap: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;

  input {
    width: 617px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px 25px;
    cursor: pointer;
    border-color: $color;
    &:focus {
      outline: $color;
    }
  }

  #contact-text {
    min-height: 202px;
    max-height: 202px;
    min-width: 617px;
    max-width: 617px;
    border-radius: 10px;
    border-width: 1px;
    padding: 15px 25px;
    cursor: pointer;
    border-color: $color;
    &:focus {
      outline: $color;
    }
  }
}

.privacy-policy {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  #privacy-checkbox {
    width: 24px;
    height: 24px;
  }

  label {
    font-size: 14px;
  }

  a {
    color: $color;
    text-decoration: none;
  }
}

#contact-submit {
  width: 181px !important;
  height: 58px;
  border-radius: 10px;
  border: 2px solid $color;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: $color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba($color, 0.5);
  }

  &:active {
    transform: scale(0.95);
  }
}

