<section
  class="no-select"
  id="intro"
  appScrollVisibility
  (isVisibleChange)="onVisibilityChange($event)"
>
  <div class="ellipse"></div>
  <div class="ellipse2"></div>
  <div
    class="intro-left"
    [@slideInLeft]="isVisible ? 'visible' : 'hidden'"
    [@fadeIn]="isVisible ? 'visible' : 'hidden'"
  >
    <h2>{{ "intro.headline" | translate }}</h2>
    <h3>{{ "intro.subHeadline" | translate }}</h3>

    <div class="intro-icon">
      <div class="intro-icons">
        <div class="image-wrapper">
          <img src="assets/img/location.png" class="default" />
          <img src="assets/img/location-hover.png" class="hover" />
        </div>
        <p>{{ "intro.location" | translate }}</p>
      </div>

      <div class="intro-icons">
        <div class="image-wrapper2">
          <img src="assets/img/remote.png" class="default" />
          <img src="assets/img/remote-hover.png" class="hover" />
        </div>
        <p>{{ "intro.remote" | translate }}</p>
      </div>

      <div class="intro-icons">
        <div class="image-wrapper3">
          <img src="assets/img/move.png" class="default" />
          <img src="assets/img/move-hover.png" class="hover" />
        </div>
        <p>{{ "intro.relocate" | translate }}</p>
      </div>
    </div>
  </div>

  <div
    class="intro-right"
    [@slideInLeft]="isVisible ? 'visible' : 'hidden'"
    [@fadeIn]="isVisible ? 'visible' : 'hidden'"
  >
    <p>
      {{ "intro.description" | translate }}
    </p>
    <button
      id="intro-btn"
      [@buttonScaleAnimation]="isHovered ? 'hover' : 'normal'"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (touchstart)="onMouseEnter(); scrollToSection('headl-contact')"
      (touchend)="onMouseLeave()"
      (click)="scrollToSection('headl-contact')"
    >
      {{ "intro.button" | translate }}
    </button>
  </div>
</section>
