<section id="intro" appScrollVisibility (isVisibleChange)="onVisibilityChange($event)">
  <div class="intro-left" [@slideInLeft]="isVisible ? 'visible' : 'hidden'" [@fadeIn]="isVisible ? 'visible' : 'hidden'">
    <h2>{{ 'intro.headline' | translate }}</h2>
    <h3>{{ 'intro.subHeadline' | translate }}</h3>

    <div class="intro-icon">
      <div class="intro-icons"
           (mouseenter)="hoverImage('location', true)"
           (mouseleave)="hoverImage('location', false)">
        <img id="location" [src]="currentImages['location']" />
        <p>{{ 'intro.location' | translate }}</p>
      </div>

      <div class="intro-icons"
           (mouseenter)="hoverImage('remote', true)"
           (mouseleave)="hoverImage('remote', false)">
        <img id="remote" [src]="currentImages['remote']" />
        <p>{{ 'intro.remote' | translate }}</p>
      </div>
      
      <div class="intro-icons"
           (mouseenter)="hoverImage('move', true)"
           (mouseleave)="hoverImage('move', false)">
        <img id="move" [src]="currentImages['move']" />
        <p>{{ 'intro.relocate' | translate }}</p>
      </div>
    </div>
  </div>
  
  <div class="intro-right" [@slideInLeft]="isVisible ? 'visible' : 'hidden'" [@fadeIn]="isVisible ? 'visible' : 'hidden'">
    <p>
      {{ 'intro.description' | translate }}
      <br /><br />
      {{ 'intro.contactText' | translate }}
      <br />
    </p>
    <button id="intro-btn">{{ 'intro.button' | translate }}</button>
  </div>
</section>
