@import "../../../mixins.scss";

#intro {
  padding: 100px 70px 40px;
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
}
.ellipse {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    74.22% 74.22% at 19.79% 22.42%,
    #5988ff 6.25%,
    #5988ff 51.56%,
    #0043f0 100%
  );
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4),
    -4px -4px 15px rgba(255, 255, 255, 0.6);
  pointer-events: none;
  top: -14%;
  left: 50%;
  z-index: -1;
  width: clamp(100px, 15vw, 200px);
  height: clamp(100px, 15vw, 200px);
  transform: translate(-50%, -14%);
}

.ellipse2 {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    74.22% 74.22% at 19.79% 22.42%,
    #5988ff 6.25%,
    #5988ff 51.56%,
    #0043f0 100%
  );
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4),
    -4px -4px 15px rgba(255, 255, 255, 0.6);
  pointer-events: none;
  top: 1%;
  left: 80%;
  width: clamp(50px, 5vw, 100px);
  height: clamp(50px, 5vw, 100px);
  transform: translateX(-80%);
}

.intro-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 607px;
  width: 100%;
  text-align: center;
  gap: 16px;

  h2 {
    @include margin-font;
    font-family: "Baloo 2";
    color: $color;
    font-size: 135px;
    font-weight: 800;
    line-height: 107.6px;
    letter-spacing: -0.025em;
    display: block;

    word-wrap: break-word;
    hyphens: auto;
  }

  h3 {
    @include margin-font;
    font-family: "Baloo 2";
    color: rgba(89, 136, 255, 1);
    font-size: 45px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    display: block;
  }
}

.intro-icon {
  display: flex;
  align-items: flex-end;
  gap: 48px;
}

.intro-icons {
  display: flex;
  align-items: center;
  min-height: 75px;
  gap: 16px;

  p {
    @include margin-font;
    color: $color;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.2px;
  }
}
.image-wrapper2 {
  position: relative;
  width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    transition: opacity 20ms ease-in-out;
  }

  .hover {
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 0;
  }

  &:hover .default {
    opacity: 0;
  }

  &:hover .hover {
    opacity: 1;
    object-fit: cover;
  }
}

.image-wrapper {
  position: relative;
  width: 55px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    transition: opacity 20ms ease-in-out;
  }

  .hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover .default {
    opacity: 0;
  }

  &:hover .hover {
    opacity: 1;
  }
}

.image-wrapper3 {
  position: relative;
  width: 55px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    transition: opacity 20ms ease-in-out;
  }

  .hover {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 25%;
  }

  &:hover .default {
    opacity: 0;
  }

  &:hover .hover {
    opacity: 1;
  }
}

.intro-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  gap: 40px;

  p {
    @include margin-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 23.6px;
    display: block;
  }
}

#intro-btn {
  @include button;
}

@media (max-width: 1280px) {
.ellipse {
  top: -12%;
  left: 50%;
  transform: translate(-50%, -12%);
}}

@media (max-width: 1040px) {
  #intro {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
    gap: 60px;
  }
  .ellipse {
    top: -10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .ellipse2{
  top: 20%;
  left: 85%;
  }
  .intro-left {
    h2 {
      text-align: center;
      font-size: 64px;
      word-wrap:unset;
      hyphens:none;
    }
    h3 {
      font-size: 42px;
    }
  }

  .intro-left {
    max-width: none;
    width: auto;
  }

  .intro-icons {
    min-height: auto;
  }

  .intro-right {
    max-width: none;
    width: auto;
    gap: 40px;
    p {
      text-align: center;
    }
  }

  .image-wrapper3 {
    width: 50px;
    height: 50px;

    img {
      width: auto;
      height: auto;
    }

    .hover {
      opacity: 0;
      position: absolute;
      top: auto;
      left: auto;
    }
  }

  .image-wrapper {
    width: 50px;
    height: 50px;
    align-items: flex-end;
    img {
      width: auto;
      height: auto;
    }
    .hover {
      top: auto;
      left: auto;
    }
  }
  .image-wrapper2 {
    width: 50px;
    height: 50px;
    img {
      width: auto;
      height: auto;
    }
    .hover {
      top: auto;
      left: auto;
    }
  }

  #intro-btn {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .intro-left {
    width: auto;
    min-width: auto;
    max-width: 600px;
    gap: 32px;
    h2 {
      text-align: center;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 0%;
    }
    h3 {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 1%;
      text-align: center;
    }
  }
  .ellipse {
    top: -8%;
    transform: translate(-50%, 8%);
  }
  .intro-right {
    min-width: auto;
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .intro-left {
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 28px;
    }
  }

  .ellipse {
    top: -6%;
  }

  .intro-icon {
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
  }
  .intro-icons {
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 36px;
  }
  .image-wrapper,
  .image-wrapper3 {
    width: 40px;
    height: 40px;
  }
  .image-wrapper2 {
    width: 40px;
    height: 50px;
  }
}

@media (max-width: 440px) {
  #intro-btn {
    width: auto;
  }
  .ellipse2{
    top: 15%;
    left: 80%;
    }
  .intro-left {
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 28px;
    }
  }
  .intro-right {
    width: 300px;
    p {
      font-size: 16px;
    }
  }
  #intro-btn {
    font-size: 16px;
  }
}
