$color: rgba(89, 136, 255, 1);
$max-width: 1440px;

@mixin margin-font {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  color: $color;
  text-align: left;
}

@mixin button {
    font-family: "Poppins";
    background-color: #ffffff;
    font-weight: 300;
    font-size: 22px;
    line-height: 27.6px;
    align-self: self-start;
    width: 254px;
    height: 58px;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid rgba(89, 136, 255, 1);
    color: rgba(89, 136, 255, 1);
    transition: transform 90ms ease-out;
    &:hover {
      cursor: pointer;
      border: unset;
      animation: gradientToBlue 70ms forwards, growButton 90ms ease-in forwards;
    }
    &:not(:hover) {
      animation: shrinkButton 90ms ease-out forwards;
    }
}

@keyframes gradientToBlue {
  0% {
    background: linear-gradient(
      104.85deg,
      #5988ff -90.22%,
      #5988ff -49.45%,
      #0043f0 27.88%,
      #ffffff 33.64%,
      #ffffff 39.44%,
      #ffffff 90.08%
    );
    color: rgba(89, 136, 255, 1);
  }
  80% {
    background: linear-gradient(
      104.4deg,
      #5988ff 9.21%,
      #5988ff 27.52%,
      #0043f0 62.24%,
      #ffffff 64.83%,
      #ffffff 67.43%,
      #ffffff 90.18%
    );
  }
  100% {
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );

    color: white;
  }
}

@keyframes gradientback {
  100% {
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );

    color: white;
  }

  0% {
    background: linear-gradient(
      104.85deg,
      #5988ff -90.22%,
      #5988ff -49.45%,
      #0043f0 27.88%,
      #ffffff 33.64%,
      #ffffff 39.44%,
      #ffffff 90.08%
    );
    color: rgba(89, 136, 255, 1);
  }
}

@keyframes growButton {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: top left;
  }
  100% {
    transform: translate(0px, 0px) scale(1.2, 1.2);
    transform-origin: top left;
  }
}
@keyframes shrinkButton {
  0% {
    transform: translate(0, 0) scale(1.2);
    transform-origin: top left;
  }
  100% {
    transform: translate(0, 0) scale(1);
    transform-origin: top left;
  }
}

@mixin absolute-position($top, $left, $z-index: auto) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $z-index;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
