$color: rgba(89, 136, 255, 1);
$background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);

@mixin margin-font {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align: left;
}

@mixin ellipse {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    74.22% 74.22% at 19.79% 22.42%,
    #5988ff 6.25%,
    #5988ff 51.56%,
    #0043f0 100%
  );
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4),
    -4px -4px 15px rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.bg {
  background: $background;
}

.bg-dark {
  background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
}

.container{
width: 100%;
max-width: 1440px;
margin: 0 auto;
}

@mixin background {
  background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;    /* für Firefox */
  -ms-user-select: none;     /* für IE/Edge */
}

@mixin button {
    font-family: "Poppins";
    background-color: #ffffff;
    font-weight: 300;
    font-size: 22px;
    line-height: 27.6px;
    align-self: self-start;
    width: 254px;
    height: 58px;
    border-radius: 10px;
    border: 2px solid rgba(89, 136, 255, 1);
    color: rgba(89, 136, 255, 1);
}


@mixin absolute-position($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  
  @if $top != null {
    top: $top;
  }
  
  @if $left != null {
    left: $left;
  }
  
  @if $right != null {
    right: $right;
  }
  
  @if $bottom != null {
    bottom: $bottom;
  }
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

