<footer>

    <div class="img-logo" id="footer-img">
        <a (click)="scrollToSection('header')">
          <img src="../../assets/img/Group.png">
        </a>
      </div>

  <div class="legal-notice">
    <p>&copy; Benjamin Kloss 2025</p>
    <a routerLink="/legal-notice">Legal notice</a> 
  </div>

  <div id="social-links">
    <a href='https://github.com/BennieB12' target="_blank"><img src="../../assets/img/footer-git.png" /></a>
    <a href="mailto:Benjaminkloss@outlook.de"><img src="../../assets/img/footer-mail.png" /></a>
    <a href="https://www.linkedin.com/in/ben-kloss" target="_blank"><img src="../../assets/img/footer-li.png" /></a>
  </div>
</footer>
