@import "../../../mixins.scss";

#skillset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  min-height: 632px;
  @include background;
}

h4 {
  @include margin-font;
  justify-self: center;
  z-index: 10;
  font-family: "Baloo 2";
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: block;
  font-weight: bold;
}

.skillset-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 104px;
  transition: opacity 0.5s ease;
}
.content-item {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transform: scale(0.8);
  transition: transform 0.3s ease;
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: font-weight 120ms ease-in-out;
  }
  img {
    transition: transform 120ms ease-in-out;
  }
}

@media (max-width: 1040px) {
  #skillset {
    height: auto;
  }
}
@media (max-width: 768px) {
  #skillset {
    padding-bottom: 20px;
  }
  .skillset-content {
    gap: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h4 {
    font-size: 64px;
  }
}

@media (max-width: 640px) {
  h4 {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .skillset-content {
    padding-top: 10px;
    gap: 60px;
  }
  h4 {
    font-size: 36px;
  }
}
