@import "../../mixins.scss";

.privacy-policy {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-arrow {
    @include background;
    position: fixed;
    top: 11%;
    left:10%;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: rgba(89, 136, 255, 1);
    transition: transform 120ms ease-out;
    &:hover {
        cursor: pointer;
        border: unset;
        scale: 1.2;
    }
    img {
        transform: rotate(-90deg);

    }
  }

.privacy-policy h2 {
    color: #222;
    font-size: 24px;
    margin-bottom: 10px;
}

.privacy-policy h3 {
    color: #444;
    font-size: 20px;
    margin-top: 20px;
}

.privacy-policy h4 {
    color: #555;
    font-size: 18px;
    margin-top: 15px;
}

.privacy-policy p {
    margin-bottom: 15px;
}

.privacy-policy a {
    color: #0066cc;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}

.privacy-policy ul {
    padding-left: 20px;
}

.privacy-policy ul li {
    margin-bottom: 8px;
}

@media ( max-width: 768px){
    .privacy-arrow {
        left: auto;
        right: 6%;
    }}
