<section class="intro">
    <img src="../../assets/img/Ellipse 5.png" alt="">
    <img src="../../assets/img/Ellipse 6.png" alt="">
  <div class="intro-left">
    <h1 class="title">Let's work together</h1>
    <h2>I am</h2>
    <div class="intro-icon">
      <div class="intro-icons">
        <img src="../../assets/img/location.png" alt="" />
        <p>located in Duesseldorf</p>
      </div>
      <div class="intro-icons">
        <img src="../../assets/img/remote.png" alt="" />
        <p>open to work remote</p>
      </div>
      <div class="intro-icons">
        <img src="../../assets/img/move.png" />
        <p>open to relocate</p>
      </div>
    </div>
  </div>
  <div class="intro-right">
    <div>
      <p>
        I am a Front-end developer based in Duesseldorf, Germany. I enjoy
        helping designers and companies bring their ideasi nto real life. I am
        looking forward to continuing my developer career with a job in a junior
        web developer position. My ability to solve complex problems and my
        passion for programming make me a valuable member for your team. If you
        think I´d be a good mathch for your projects, contact me
      </p>
      <button id="intro-btn">Send a message</button>
    </div>
  </div>
</section>
<section class="skillset">
  <app-skills></app-skills>
</section>
