<section class="intro">
  <div class="intro-ell1">
    <img src="../../assets/img/Ellipse 5.png" alt="" />
  </div>
  <img class="intro-ell2" src="../../assets/img/Ellipse 6.png" alt="" />
  <div class="intro-left">
    <h1>Let's work <br />together</h1>
    <h2>I am</h2>
    <div class="intro-icon">
      <div class="intro-icons">
        <img src="../../assets/img/location.png" alt="" />
        <p>located in Duesseldorf</p>
      </div>
      <div class="intro-icons">
        <img src="../../assets/img/remote.png" alt="" />
        <p>open to work<br> remote</p>
      </div>
      <div class="intro-icons">
        <img src="../../assets/img/move.png" />
        <p>open to relocate</p>
      </div>
    </div>
  </div>
  <div class="intro-right">
    <p>
      I am a Front-end developer based in Duesseldorf, Germany. I enjoy helping
      designers and companies bring their ideas into real life. I am looking
      forward to continuing my developer career with a job in a junior web
      developer position. My ability to solve complex problems and my passion
      for programming make me a valuable member for your team.
      <br />
      <br />If you think I´d be a good mathch for your projects, contact me<br />
    </p>
    <button id="intro-btn">Send a message</button>
  </div>
</section>
<section class="skillset">
  <img class="intro-bg" src="../../../assets/img/Background.png" alt="" style="position: relative;"/>
  <div class="intro-headl">
    <h1>Skill set</h1>
  </div>
  <app-skills></app-skills>
</section>
