@import "../../mixins.scss";

#intro {
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 40px;
}

.intro-left {
  height: 407px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  h2 {
    font-family: "Baloo 2";
    color: rgba(89, 136, 255, 1);
    font-size: 135px;
    font-weight: 800;
    line-height: 107.6px;
    letter-spacing: -0.025em;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h3 {
    font-family: "Baloo 2";
    color: rgba(89, 136, 255, 1);
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
}

.intro-icon {
  width: 581px;
  // height: 51px;
  display: flex;
  align-items: flex-end;
  gap: 48px;
}

.intro-icons {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 70ms ease-in-out;
  }
  p {
    color: rgba(89, 136, 255, 1);
    width: 110px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.2px;
    text-align: left;
    align-self: self-end;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
  }
}

.intro-right {
  width: 571px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  p {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 23.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
}

@keyframes gradientToBlue {
  0% {
    background: linear-gradient(
      104.85deg,
      #5988ff -90.22%,
      #5988ff -49.45%,
      #0043f0 27.88%,
      #ffffff 33.64%,
      #ffffff 39.44%,
      #ffffff 90.08%
    );
    color: rgba(89, 136, 255, 1);
  }
  80% {
    background: linear-gradient(
      104.4deg,
      #5988ff 9.21%,
      #5988ff 27.52%,
      #0043f0 62.24%,
      #ffffff 64.83%,
      #ffffff 67.43%,
      #ffffff 90.18%
    );
  }
  100% {
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );

    color: white;
  }
}

@keyframes gradientback {
  100% {
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );

    color: white;
  }

  0% {
    background: linear-gradient(
      104.85deg,
      #5988ff -90.22%,
      #5988ff -49.45%,
      #0043f0 27.88%,
      #ffffff 33.64%,
      #ffffff 39.44%,
      #ffffff 90.08%
    );
    color: rgba(89, 136, 255, 1);
  }
}

@keyframes growButton {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: top left;
  }
  100% {
    transform: translate(0px, 0px) scale(1.2, 1.2);
    transform-origin: top left;
  }
}
@keyframes shrinkButton {
  0% {
    transform: translate(0, 0) scale(1.2);
    transform-origin: top left;
  }
  100% {
    transform: translate(0, 0) scale(1);
    transform-origin: top left;
  }
}

#intro-btn {
  @include button;
}
