<section id="intro" [@slideInLeft]="isVisible ? 'visible' : 'hidden'">
  <div class="intro-left">
    <h2>Let's work <br />together</h2>
    <h3>I am</h3>
    <div class="intro-icon">
      <div class="intro-icons"
           (mouseenter)="hoverImage('location', true)"
           (mouseleave)="hoverImage('location', false)">
        <img id="location" [src]="currentImages['location']" />
        <p>located in Duesseldorf</p>
      </div>

      <div class="intro-icons"
           (mouseenter)="hoverImage('remote', true)"
           (mouseleave)="hoverImage('remote', false)">
        <img id="remote" [src]="currentImages['remote']" />
        <p>open to work remote</p>
      </div>
      
      <div class="intro-icons"
           (mouseenter)="hoverImage('move', true)"
           (mouseleave)="hoverImage('move', false)">
        <img id="move" [src]="currentImages['move']" />
        <p>open to relocate</p>
      </div>
    </div>
  </div>
  
  <div class="intro-right">
    <p>
      I am a Front-end developer based in Duesseldorf, Germany. I enjoy helping
      designers and companies bring their ideas into real life. I am looking
      forward to continuing my developer career with a job in a junior web
      developer position. My ability to solve complex problems and my passion
      for programming make me a valuable member for your team.
      <br />
      <br />If you think I´d be a good match for your projects, contact me.<br />
    </p>
    <button id="intro-btn">Send a message</button>
  </div>
</section>
