<section class="legal-notice">
    <a class="legal-arrow" href="/">
        <img src="../../assets/img/arrow-up.png" alt="arrowUp" />
      </a>
    <h2>{{ 'legal.heading' | translate }}</h2>

    <p>
        <strong>Benjamin Kloss</strong><br>
        Sebastianusstraße 9<br>
        41460 Neuss
    </p>

    <h3>{{ 'legal.contact' | translate }}</h3>
    <p>
        <strong>{{ 'legal.phone' | translate }}:</strong> +49 176 465 150 15<br>
        <a href="mailto:kontakt&#64;benjamin-kloss.de">
            kontakt&#64;benjamin-kloss.de
          </a>
    </p>

    <h3>{{ 'legal.responsibility' | translate }}</h3>
    <p>
        <strong>Benjamin Kloss</strong><br>
        Sebastianusstraße 9<br>
        41460 Neuss
    </p>

    <h3>{{ 'legal.liability_content' | translate }}</h3>
    <p>{{ 'legal.liability_content_text' | translate }}</p>

    <h3>{{ 'legal.liability_links' | translate }}</h3>
    <p>{{ 'legal.liability_links_text' | translate }}</p>

    <h3>{{ 'legal.copyright' | translate }}</h3>
    <p>{{ 'legal.copyright_text' | translate }}</p>

    <h3>{{ 'legal.dispute' | translate }}</h3>
    <p>
        {{ 'legal.dispute_text' | translate }}
        <a href="https://ec.europa.eu/consumers/odr" target="_blank">
            https://ec.europa.eu/consumers/odr
        </a>
    </p>
    <p>{{ 'legal.dispute_info' | translate }}</p>
</section>
