<div class="bg-dark">
<section
  id="comments"
  class="container"
  appScrollVisibility
  (isVisibleChange)="isVisible = $event"
  [@slideInFromBottom]="isVisible ? 'visible' : 'hidden'"
>
  <div class="headline-comments no-select">
    <h6>{{ "comments.headline" | translate }}</h6>
    <span>{{ "comments.subHeadline" | translate }}</span>
  </div>

  <div class="commentarys" [class.visible]="isVisible" [@fadeIn]>
    <div class="commentarys-content">
      <h5>{{ "comments.feedback.0.name" | translate }}</h5>
      <span>{{ "comments.feedback.0.project" | translate }}</span>
      <p>{{ "comments.feedback.0.text" | translate }}</p>
    </div>
    <div class="commentarys-content">
      <h5>{{ "comments.feedback.1.name" | translate }}</h5>
      <span>{{ "comments.feedback.1.project" | translate }}</span>
      <p>{{ "comments.feedback.1.text" | translate }}</p>
    </div>
  </div>
</section>
</div>