<section class="skillset">
  <img
    class="intro-bg"
    src="../../../assets/img/Background.png"
    alt=""
    style="position: relative"
  />
  <div class="intro-headl">
    <h4>Skill set</h4>
  </div>
    <div>
      <img src="../../assets/img/git.png" alt="" />
      <span>sdfsdfsd</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Wordpress.png" alt="" />
      <span>sdfsf</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Angular.png" alt="" />
      <span>sdfsf</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Typescript.png" alt="" />
      <span>dsfs</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Scrum.png" alt="" />
      <span>sfd</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Material des..png" alt="" />
      <span>dfgdgdfg</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=JavScript.png" alt="" />
      <span>dfgdg</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=html.png" alt="" />
      <span>dfgd</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Api.png" alt="" />
      <span>dfgd</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=css.png" alt="" />
      <span>sdf</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Firebase.png" alt="" />
      <span>sdfsf</span>
    </div>
    <div>
      <img src="../../assets/img/Property 1=Grow.png" alt="" />
      <span>sdfsdf</span>
    </div>
    <div>
      <img src="../../assets/img//Property 1=Default.png" alt="" />
      <span>sdfdsf</span>
    </div>
</section>
