@import '../../mixins.scss';
@import'../../fonts.scss';

#section-atf {
  height: 100vh;
  width: 1440px;
  display: flex;
  background-color: rgba(234, 240, 255, 1);
  z-index: 1000;

  .prof-img {
    width: 550px;
    height: 703px;
    position: absolute;
    top: 198px;
    left: 93px;
    z-index: 4;
  }

  .social-links {
    width: 40px;
    height: 170px;
    position: absolute;
    left: 1300px;
    top: 672px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    img {
      height: 40px;
      width: 40px;
      transition: transform 120ms ease-in-out;

      &:hover {
        transform: translateX(-8px);
      }
    }
  }

  .atf-scroll {
    height: 330px;
    position: absolute;
    left: 1034px;
    top: 694px;
    .atf-span {
      color: $color;
      font-weight: 500;
      font-size: 23px;
      line-height: 27.6px;
      margin-left: -39px;
    }
    .atf-line {
      height: 1px;
      width: 180px;
      background-color: $color;
      transform: rotate(90deg);
      transform-origin: left center;
    }
  }
}

.atf-content {
  position: absolute;
  height: 61px;
  top: 227px;
  left: 731px;

  h1 {
    @include margin-font;
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
  }
}

.atf-headline {
  position: absolute;
  width: 645px;
  height: 221px;
  top: 305px;
  left: 731px;

  h2 {
    @include margin-font;
    font-family: "Baloo 2";
    font-size: 128px;
    font-weight: 600;
    line-height: 107.6px;
    letter-spacing: -0.025em;
  }
}
