<section id="section-atf">
    <img class="img-atf" src="../../assets/img/ellipse.png" />

    <div class="atf-content">
        <h2>Hello! I am Benjamin</h2>
        <h1>FRONTEND DEVELOPER</h1>
    </div>

    <div class="social-links">
        <a href=""><img src="../../assets/img/Linkedin button s2.png"></a>
        <a href=""><img src="../../assets/img/Email button s2.png"></a>
        <a href=""> <img src="../../assets/img/Github button s2.png"></a>
    </div>

    <div class="atf-scroll">
        <span class="atf-span">scroll</span>
        <div class="atf-line"></div>
    </div>
</section>
