@import "../../../mixins.scss";

.headl-projects {
  @include column;
  padding-left: 77px;
  padding-top: 100px;
  padding-bottom: 40px;
  h5 {
    color: rgba(89, 136, 255, 1);
    font-family: "Baloo 2";
    font-weight: 800;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 1%;
    margin-block-end: 0;
  }
  span {
    width: 673px;
    height: 100px;
    z-index: 10000;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
  }
}
#projects {
  position: relative;
}

.projects-container {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.ellipse {
  @include ellipse;
  z-index: -1;
  @include absolute-position(5%,60%);
  width: 108px;
  height: 108px;
  transform: translateX(-80%);
}

.ellipse2 {
  @include ellipse;
  @include absolute-position(25%,75%);
  z-index: -1;
  width: 186px;
  height: 186px;
}

.ellipse3 {
  @include ellipse;
  @include absolute-position(30%,60%);
  width: 652px;
  height: 652px;
}

.ellipse4 {
  @include ellipse;
  @include absolute-position(20%,-15%);
  z-index: -1;
  width: clamp(293px, 20vw, 393px);
  height: clamp(293px, 20vw, 393px);
}

.ellipse5 {
  @include ellipse;
  @include absolute-position(65%,20%);
  z-index: -1;
  width: 98px;
  height: 98px;
}

.ellipse6 {
  @include ellipse;
  z-index: -1;
  @include absolute-position(85%,30%);
  width: 198px;
  height: 198px;
}

.project {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 80px;
  margin-bottom: 160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.project.reverse-layout {
  flex-direction: row-reverse;
  img {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  }
}

.project-image {
  width: 640px;
  height: 420px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.project-info {
@include column;
  width: 586px;
  gap: 15px;
}
.btn-box {
  gap: 16px;
  @include column;
}

.project-info h5 {
  color: $color;
  font-family: "Baloo 2";
  font-weight: 800;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
}

.project-info h6 {
  margin: 0;
  color: $color;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
}

.project-info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.project-info button {
  @include button;
}

@media (max-width: 1280px) {
  .project {
    gap: 60px;
  }

  .ellipse {
    top: 5%;
  }
  .headl-projects {
    padding-left: 20px;
  }
}

@media (max-width: 1040px) {
  .headl-projects {
    align-items: center;
  }

  .ellipse {
    height: 80px;
    width: 80px;
    top: 15%;
    left: 85%;
  }

  .ellipse2 {
    display: none;
  }

  .ellipse4 {
    top: 10%;
    left: -15%;
  }

  .ellipse6 {
    top: 85%;
    left: 85%;
    width: 60px;
    height: 60px;
  }
  .project,
  .project.reverse-layout {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .project-info {
    width: 640px;
    text-align: center;
  }
  .btn-box {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .headl-projects {
    width: 100%;
    text-align: center;
    justify-content: center;
    h5 {
      font-size: 64px;
    }
    span {
      width: 340px;
      height: 59px;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }
  .project-image {
    max-height: 60%;
    max-width: 80%;
  }
  .project-info {
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .btn-box {
    flex-direction: row;
    gap: 120px;
    padding-top: 24px;
    button {
      width: 125px;
      height: 54px;
    }
  }
  #btn-git {
    font-family: "Poppins";
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    transition: transform 120ms ease-out;

    &:hover {
      cursor: pointer;
      border: 2px solid rgba(89, 136, 255, 1);
      animation: gradientToWhite 120ms forwards,
        growButton 120ms ease-in forwards;
    }

    &:not(:hover) {
      animation: shrinkButton 120ms ease-out forwards;
    }
  }

  @keyframes gradientToWhite {
    0% {
      background: radial-gradient(
        74.22% 74.22% at 19.79% 22.42%,
        #5988ff 6.25%,
        #5988ff 51.56%,
        #0043f0 100%
      );
      color: white;
    }
    100% {
      background: white;
      color: rgba(89, 136, 255, 1);
    }
  }
}

@media (max-width: 640px) {
  .btn-box {
    gap: 60px;
  }

  .ellipse {
    height: 60px;
    width: 60px;
    top: 25%;
  }

  .ellipse4 {
    top: 2%;
    left: -37%;
  }

  .ellipse3 {
    top: 30%;
    left: 50%;
    width: 452px;
    height: 452px;
  }

  .ellipse6 {
    top: 82%;
  }

  .headl-projects {
    gap: 16px;
    h5 {
      font-size: 48px;
      line-height: 48px;
    }
  }

  .project,
  .project.reverse-layout {
    gap: 16px;
  }
  .project-image {
    width: 390px;
    height: 275px;
  }
  .project-info {
    h5 {
      font-size: 32px;
    }
  }
}

@media (max-width: 480px) {
  .btn-box {
    padding: 0;
    flex-direction: column;
    gap: 36px;
  }
  .headl-projects {
    margin-left: 0;
    h5 {
      font-size: 36px;
    }
    span {
      width: 252px;
    }
  }

  .ellipse6 {
    top: 80%;
  }
}
