@import "../../../mixins.scss";

.headl-projects {
  display: flex;
  flex-direction: column;
  margin-left: 77px;
  margin-top: 40px;
  h5 {
    color: rgba(89, 136, 255, 1);
    font-family: "Baloo 2";
    font-weight: 800;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 1%;
    margin-block-end: 0;
  }
  span {
    width: 673px;
    height: 56px;
    z-index: 10000;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
  }
}

.projects-container {
  margin-top: 40px;
}

.project {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 100px;
  margin-bottom: 80px;
}

.project.reverse-layout {
  flex-direction: row-reverse;
  img {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  }
}

.project-image {
  width: 640px;
  height: 480px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 586px;
  gap: 15px;
}
.btn-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.project-info h5 {
  color: $color;
  font-family: "Baloo 2";
  font-weight: 800;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0%;

  margin: 0;
}

.project-info h6 {
  margin: 0;
  color: $color;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0%;
}

.project-info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.project-info button {
  @include button;
}

@media (max-width: 768px) {
  .headl-projects {
    margin-left: 75px;
    h5 {
      font-size: 64px;
    }
    span {
      width: 340px;
      height: 59px;

      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0%;
    }
  }
  .project,
  .project.reverse-layout {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .project-image {
    max-height: 60%;
    max-width: 80%;
  }
  .project-info {
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .btn-box {
    flex-direction: row;
    align-items: center;
    gap: 120px;
    padding-top: 24px;
    button {
      width: 125px;
      height: 54px;
    }
  }
  #btn-git {
    font-family: "Poppins";
    background: radial-gradient(
      74.22% 74.22% at 19.79% 22.42%,
      #5988ff 6.25%,
      #5988ff 51.56%,
      #0043f0 100%
    );
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    transition: transform 120ms ease-out;

    &:hover {
      cursor: pointer;
      border: 2px solid rgba(89, 136, 255, 1);
      animation: gradientToWhite 120ms forwards,
        growButton 120ms ease-in forwards;
    }

    &:not(:hover) {
      animation: shrinkButton 120ms ease-out forwards;
    }
  }

  @keyframes gradientToWhite {
    0% {
      background: radial-gradient(
        74.22% 74.22% at 19.79% 22.42%,
        #5988ff 6.25%,
        #5988ff 51.56%,
        #0043f0 100%
      );
      color: white;
    }
    100% {
      background: linear-gradient(
        104.85deg,
        #5988ff -90.22%,
        #5988ff -49.45%,
        #0043f0 27.88%,
        #ffffff 33.64%,
        #ffffff 39.44%,
        #ffffff 90.08%
      );
      color: rgba(89, 136, 255, 1);
    }
  }
}

@media (max-width: 640px) {
  .btn-box {
    gap: 60px;
  }
  .headl-projects {
    align-items: center;
    margin: 0;

  }
  .project,
  .project.reverse-layout {
    gap: 16px;
  }
  .project-image {
    width: 390px;
    height: 275px;
  }
}

@media (max-width: 420px) {
  .btn-box {
    padding: 0;
    flex-direction: column;
    gap: 36px;
  }
  .headl-projects {
    span {
      width: 252px;
    }
  }
}
