<section id="projects">
  <div class="headl-projects">
    <h5>My Work</h5>
    <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
  </div>

</section>
<div class="projects-container"*ngFor="let project of projects; let i = index">
  <app-project
    [imageSrc]="project.imageSrc"
    [imageAlt]="project.imageAlt"
    [title]="project.title"
    [subtitle]="project.subtitle"
    [description]="project.description"
    [btngit]="project.btngit"
    [btntest]="project.btntest"
    [gitLink]="project.gitLink"
    [testLink]="project.testLink"
    [index]="i" 
  ></app-project>
</div>